/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*****************end of reset***************************/

html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 100%
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

body {
	background: url(../img/body-background.jpg) no-repeat center center/cover fixed;`
	/*background-image: url(../img/body-background.jpg);*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
}

.clearfix:after {
    clear: both;
}

.layout-wrap {
	max-width: 1200px;
	min-width: 640px;
	margin:0 auto;
}

.page-body{
	background-color: #888;
	padding: 20px;
}

header {
	background-color: #000;
	height: 70px;
}

header img {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}

.search-box {
	display: inline-block;
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}

header input {
	height: 30px;
	padding-left: 10px;

}

.notifications {
	background-color: #fff;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding-left: 20px;
	width: 100%;
}

.nav-section {
	background-color: #000;
	width: 32%;
	float: left;
	margin-top: 20px;
	height: 160px;
	position: relative;
	margin-left: 2%;
}


.nav-sub-section1 {
	background-image: url(../img/icons/action-report-new.png);
	background-size: 120px;
	background-repeat:no-repeat;
	background-position: 50% 80px;
	margin-left: 0;
}

.nav-sub-section2 {
	/*margin-right: 2%;*/
	/*margin-left: 2%;*/
	background-image: url(../img/icons/action-report-top.png);
	background-size: 120px;
	background-repeat:no-repeat;
	background-position: 50% 80px;
}

.nav-sub-section3 {
	background-image: url(../img/icons/actions-help.png);
	background-size: 120px;
	background-repeat:no-repeat;
	background-position: 50% 80px;
}

.nav-section > p {
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	margin-top: 20px;
}

.menu {
	position: absolute;
	bottom: 0;
	width: 100%;
	top: 130px;
	background-color: #eee;
}

.menu-caption {
	position: absolute;
	top:7px;
	left: 10px;
	vertical-align: middle;
}

.action-list {
	position: absolute;
	top: 30px;
	left: 10;
	width: 100%;
	background-color: #fff;
	display: none;
	list-style-type: none;
	margin:0;
	padding: 0 0 0 10px;
	line-height: 30px;
	vertical-align: middle;
	z-index: 2;
}

.nav-section:hover .action-list {
	display: block;
}

.action-list a{
	text-decoration: none;
	color: inherit;
}

.action-list li {
	border-top: 1px solid #ddd;
}

.tabs {
	position: relative;
	z-index: 1;
	margin-top: 20px;
}

.tabs a {
	color:  #fff;
	text-decoration: none;
}

.tabs li {
	background-color: #444;
	width: 22%;
	margin-left: 4%;
	float: left;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	z-index: 1;
}

.tabs li:first-child {
	margin-left: 0;}

.tabs ul {
	list-style-type: none; 
}

.tabs div {
	display: none;
} 

#quick-reports:target , #my-folders:target , #my-team-folders:target, #public-folders:target {
	display:block;
	width: 100%;
	height: 200px;
	background-color: #eee;
	position:relative;
	top: 40px;
}






